* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

#root {
  width: 100%;
  height: 100vh;
  background-image: url("../public/todo-backgroundjpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.App {
  margin-top: 100px;
  width: 650px;
  padding: 35px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: black;
}

.top-bar {
  width: 550px;
  min-height: 80px;
  background-color: lightgray;
  padding: 20px;
  margin: 15px 0 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px 16px 6px rgba(0, 0, 0, 0.3);
}

.input-box {
  width: 350px;
  height: 100%;
  border-radius: 10px;
  font-size: 22px;
  padding: 0 10px;
  border: none;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

.add-btn {
  width: 120px;
  height: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: navy;
  color: white;
}

.todo-list {
  width: 550px;
}

.list-item {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 10px 10px 16px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.4;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  font-size: 20px;
}

.update-icons {
  width: 60px;
  display: flex;
  justify-content: space-around;
}

.i-size {
  font-size: 17px;
}

.u-size {
  font-size: 19px;
}

.ux-size {
  font-size: 21px;
}
